.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 86px;
  z-index: 10;
  text-align: center;
  li {
    display: inline-block;
  }
  .icon {
    margin: 0 17px;
    vertical-align: middle; // 垂直居中
    cursor: pointer;
  }
}

.select-car-btn {
  display: block;
  width: 240px;
  height: 84px;
  margin: 0 17px;
  border-radius: 100px;
  line-height: 84px;
  text-align: center;
  color: white;
  background-color: $color-main;
  font-size: 26px;
  font-weight:300 ;
}
